.half {
	width: 49%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.reveal pre code {
	max-height: 500px;
	margin-right: -25px;
    margin-left: -25px;
}

h3#import-this + pre {
	font-size: 18px;
    line-height: 1;
}